.add-to-basket-button {
  padding: 0.5rem 0.5rem;
  background-color: var(--gamboge);
  color: black;
  border: none;
  border-radius: 12px;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: lowercase;
  transition: background-color 0.3s ease, transform 0.2s ease;
  white-space: nowrap;
}

.add-to-basket-button:hover {
  background-color: var(--china-rose);
}

.add-to-basket-button:active {
  transform: scale(0.98);
}

@media (max-width: 1024px) {
  .add-to-basket-button {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .add-to-basket-button {
    font-size: 0.9rem;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .add-to-basket-button {
    font-size: 0.7rem;
    padding: 0.3rem 0.2rem;
  }
}

