.menu-item {
  display: flex;
  flex-direction: column;
  background-color: var(--jasmine);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.menu-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.menu-item-image-container {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item-image {
  object-fit: contain;
  display: block;
  width: 100%;
  height: 100%;
}

.menu-item-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex: 1;
}

.menu-item-title {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  font-weight: 600;
  color: black;
  margin: 0;
  text-transform: lowercase;
}

.menu-item-price {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
}


@media (max-width: 768px) {
  .menu-item-title {
    font-size: 0.9rem;
  }
  
  .menu-item-price {
    font-size: 0.9rem;
  }
}

