.viewport {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

.character {
  transform-origin: center center;
  position: absolute;
  left: 50%;
  top: 50%;
}
