.form-label {
  display: block;
  text-transform: lowercase;
  font-family: var(--font-pixel);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.35rem;
  color: var(--text-color);
}

.required {
  color: red;
  margin-left: 0.25rem;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
    .required {
    font-size: 1.2rem;
  }
}

