.input-field {
  width: 100%;
  padding: 0.5rem 0.6rem;
  border: 2px solid transparent;
  border-radius: 20px;
  font-family: var(--font-roboto-slab);
  font-size: 0.95rem;
  background-color: rgba(255, 255, 255, 0.5);
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.input-field:focus {
  outline: none;
  border: 2px solid var(--china-rose);
  box-sizing: border-box;
}

.input-field::placeholder {
  text-transform: lowercase;
  padding-left: 3px;
  color: #6b6b6b;
}

@media (max-width: 768px) {
  .input-field {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
    border-radius: 15px;
  }
}

