.star-rating-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  padding: 1.3rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.star-rating-label {
  padding-bottom: 0.5rem;
  font-family: var(--font-pixel);
  text-transform: lowercase;
  color: var(--text-color);
  font-size: 1.2rem;
}

.star-rating {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.star {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  transition: transform 0.2s;
}

.star:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .star-rating-container {
    padding: 0.7rem;
    gap: 0.25rem;
  }

  .star-rating-label {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }

  .star-rating {
    gap: 0.25rem;
  }

  .star {
    width: 1.5rem;
    height: 1.5rem;
  }
}

