/* Color Palette */
:root {
    --jasmine: #FCE597ff;
    --hunyadi-yellow: #FFC46Aff;
    --gamboge: #ECA032ff;
    --china-rose: #B25A68ff;
    --cool-gray: #939CC7ff;
    --font-pixel: 'Pixelify Sans', sans-serif;
    --font-roboto-slab: 'Roboto Slab', serif;
}