/* Color Palette */
:root {
    --jasmine: rgb(252, 229, 151);
    --hunyadi-yellow: rgb(255, 196, 106);
    --gamboge: rgb(236, 160, 50);
    --china-rose: #b25a68;
    --cool-gray: rgb(115, 143, 245);
    --pastel-blue: #cee7f0;
    --pastel-pink: #f1cacf;
    --font-pixel: 'Pixelify Sans', sans-serif;
    --font-roboto-slab: 'Roboto Slab', serif;
}
