/* Color Palette */
:root {
    --jasmine: rgb(252, 229, 151);
    --hunyadi-yellow: rgb(255, 196, 106);
    --gamboge: rgb(236, 160, 50);
    --china-rose: rgb(178, 90, 104);
    --cool-gray: rgb(147, 156, 199);
}