.aboutus-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;  
  gap: 1rem;
}

.aboutus-content {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  line-height: 1.6;
  color: black;
}

@media (min-width: 768px) {
  .aboutus-content {
    font-size: 1.1rem;
  }
  .aboutus-container {
    margin-top: 1rem;
    gap: 2rem;
  }
}

