.homepage-container {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .homepage-container {
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .homepage-container {
    padding: 0 4rem;
  }
}
