.menu-page {
  width: 100%;
  min-height: calc(100vh - 137px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.category-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 100px;
}

.cart-icon {
  position: fixed;
  width: fit-content;
  top: calc(var(--header-height, 77px) + var(--menu-categories-height, 60px) + 10px);
  right: 1rem;
  z-index: 1000;
  pointer-events: auto;
}

.cart-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
  opacity: 100%;
  transition: opacity 1s;
}

.hidden {
  opacity: 0%;
  pointer-events: none;
}

/* remove scrollbar */
html {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}
