.menu-page {
  width: 100%;
  min-height: calc(100vh - 137px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.category-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 100px;
}

.cart-icon {
  position: fixed;
  width: fit-content;
  top: 3rem;
  right: 1rem;
  z-index: 101;
}

.cart-container {
  position: absolute;
  width: 100%;
  padding: 0px;
}

.cart-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  opacity: 100%;
  transition: opacity 1s;
}

.hidden {
  opacity: 0%;
  pointer-events: none;
}