.reviews-page {
  width: 100%;
  min-height: calc(100vh - 137px);
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .reviews-page {
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .reviews-page {
    padding: 0 4rem;
  }
}
