.mobile-slot-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 0.8rem;
}

.mobile-slot-heading {
  font-size: 1.1rem;
}

.mobile-slot-line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.6);
}

.mobile-slot-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.6);
}

.bullet {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
}

.mobile-slot-max {
  font-family: 'Roboto Slab', serif;
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.6);
}

