.mobile-reservation-page {
  min-height: 100vh;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.page-heading {
  font-size: 1.4rem !important;
}

.mobile-reservation-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.page-heading {
  font-size: 2rem !important;
}