.form-container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 17px;
  border-radius: 12px;
  background-color: var(--hunyadi-yellow);
  box-sizing: border-box;
}

.form-container.date-time-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  margin: 0;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.form-field-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

