.slot-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slot-details .heading.section-label {
  opacity: 0.6;
}

.slot-line {
  width: 100%;
  height: 1px;
  background-color: #666;
}

.slot-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  color: #333;
  opacity: 0.6;
}

.bullet {
  color: #666;
  font-size: 1.5rem;
}

.slot-max {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  color: #333;
  opacity: 0.6;
}

.note {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 0.9rem;
  color: #666;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
}

