.app-container {
  background-color: white;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 100px;
  background-color: var(--gamboge);
  padding: 22px 23px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-button {
  width: 49px;
  height: 54px;
  position: relative;
}

.nav-bar-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-container {
  width: 182px;
  height: 54px;
  position: relative;
  margin-left: auto;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer {
  width: 100%;
  height: 37px;
  background-color: var(--gamboge);
  position: fixed;
  bottom: 0;
  left: 0;
}