/* Color Palette */
:root {
  --jasmine: rgb(252, 229, 151);
  --hunyadi-yellow: rgb(255, 196, 106);
  --gamboge: rgb(236, 160, 50);
  --china-rose: #b25a68;
  --cool-gray: rgb(115, 143, 245);
  --pastel-blue: #cee7f0;
  --pastel-pink: #f1cacf;
  --font-pixel: "Pixelify Sans", sans-serif;
  --font-roboto-slab: "Roboto Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: white;
}

#app {
  width: 100%;
  min-height: 100%; /* important: allow content + footer */
  display: flex; /* makes footer push to bottom */
  flex-direction: column;
}
